@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .container,
  .category-articles {
    grid-template-columns: 1fr 1fr;
  }
  .search-input {
    width: 50%;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 40%;
  }
  .container,
  .category-articles {
    grid-template-columns: 1fr;
  }
  .search-input {
    width: 75%;
  }
}
