* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(241, 245, 249);
  --secondary-color: rgb(255, 255, 255);
  --tertiary-color: rgb(0, 140, 255);

  --gray-1: rgb(69, 69, 69);

  --shade-1: rgb(109, 112, 117);
  --shade-2: rgb(225, 232, 240);
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--gray-1);
  background-color: var(--primary-color);
}

/* REUSABLE */
.grid-one-column {
  grid-template-columns: 1fr !important;
}
.width-1000px {
  max-width: 100rem !important;
}

/* HEADER */
nav {
  background-color: var(--shade-2);
  width: 100%;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.8rem;
  max-width: 144rem;
  margin: 0 auto;
  list-style: none;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--gray-1);
  padding: 1.6rem;
  display: inline-block;
  border-bottom: 1px solid var(--primary-color);
}
.nav-link:hover,
.nav-link:active {
  color: var(--shade-1);
  border-bottom: 1px solid var(--gray-1);
}
.select-country {
  margin-left: auto;
  margin-right: 2.4rem;
  border: none;
  height: 3rem;
}
.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  font-size: 2.4rem;
  padding: 1.6rem;
  max-width: 144rem;
  margin: 0 auto;
}

.search-input {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  border: none;
  width: 25%;
}

/* MAIN */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  justify-content: space-around;
  gap: 3.2rem;
  padding: 1.6rem;
  max-width: 144rem;
  margin: 0 auto;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  padding: 0.8rem;
  box-shadow: 0.1rem 0rem 0.5rem rgb(0 0 0 / 10%);

  /* Break long words (e.g. links) */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.standalone__article {
  padding: 1.6rem;
}

.article-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
}

.standalone__article-box {
  gap: 1.8rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.article-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
  width: 100%;
}

.img {
  width: 100%;
}

.desc {
  line-height: 1.3;
}

.link {
  justify-self: end;
  text-decoration: none;
  color: var(--tertiary-color);
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more {
  align-self: flex-end;
}

.back {
  align-self: flex-start;
}

/* CATEGORIES PAGE */
.categories-title {
  font-size: 2.4rem;
  text-align: center;
  padding: 1.6rem;
}
.categories-container {
  display: block;
}
.category {
  margin-bottom: 2.4rem;
  width: 100%;
}
.section-title {
  color: var(--tertiary-color);
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}
.category-articles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}
