* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(241, 245, 249);
  --secondary-color: rgb(255, 255, 255);

  --gray-1: rgb(69, 69, 69);
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--gray-1);
  background-color: var(--primary-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  justify-content: space-around;
  gap: 3.2rem;
  padding: 1.6rem;
  max-width: 144rem;
  margin: 0 auto;
}

.search-box {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  font-size: 2.4rem;
}

.search-input {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  border: none;
  width: 25%;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  font-size: 1.4rem;
  height: 100%;
  background-color: var(--secondary-color);
  padding: 0.8rem 0.8rem;
  box-shadow: 0.1rem 0rem 0.5rem rgb(0 0 0 / 10%);
}

.article-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.img {
  width: 100%;
}

.desc {
  line-height: 1.3;
}

.more {
  align-self: flex-end;
  justify-self: end;
  text-decoration: none;
  opacity: 0.7;
}
